@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  min-height: 100%;
  position: relative;
}

body {
  color: black;
  font-size: 16px;
  margin: 0px auto 0px auto;
}

header {
  margin-bottom: 0px;
  padding: 50px;
  background-color: #323232;
}

a:link, 
a:visited {
  color: #3d6c9e;
}
a:hover   {
  color: #686256;
}
a:active {
  color: #a96e5b;
}

div.logo a {
  color: #FFFFFF;
  float: left;
  font-family: Ubuntu, 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

header .tagline {
  color: #FFFFFF;
  font-family: Ubuntu, 'Open Sans', sans-serif;
}

header nav {
  text-align: right;
}

header nav a {
  color: #d1cddc!important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a:hover{
  color: #ffffff;
}

main {
  margin: 0 1em 5em 1em;
}

main h1 {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}

main,
main p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

main a {
  text-decoration: none;
}

footer {
  color: #999999;
  font-size: 12px;
  background-color: #323232;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
}

footer .footer-left {
  float: left;
  margin: 20px;
}

footer .footer-right img {
  float: right;
  display: inline-block;
  margin: 20px 10px 20px 0px;
}

footer a:link,
footer a:visited {
  color: #ff0;
  font-weight: bold;
  text-decoration: none;
}

section.header {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

hr {
  margin: 30px 0px 20px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}

iframe {
  max-width: 300px;
  margin: 5px;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

figure {
  max-width: 800px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

.post img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.post .main-image img {
  float: left;
  max-width: 300px;
  margin: 5px 20px 20px 0px;
}

/* Special styling for the dark article theme */
body.dark {
  color: #ddd;
  background-color: #333;
}

a.dark {
  color: #ff0;
}

a.dark:visited {
  color: #aa0;
}

#post-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.read-more a {
  color: #2c425b;
}

.archive #post-list,
.prev-next {
  background-color: #F0F0F0;
}

#posts-popular {
  float: right;
  clear: both;
  background-color: #e1e7ed;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
}

#posts-popular ul {
  list-style: solid circle;
}

@media screen and (max-width:767px) {
  #post-list{
    display:flex;
    flex-flow: column;
  }
  #post-items {order:1;}
  #posts-popular {order:2;}
}

.contact {
  text-align: center;
  padding-left: 20px;
}

.prev-next {
  font-weight: bold;
  padding: 20px;
  margin: 60px 0;
}

.post-list-header {
  background-color: #b8bec4;
  padding: 5px;
}

#dgg-button {
  height: 34px;
}

