---
title: Home
---

<h2 class="post-list-header">Recent Posts</h2>

$partial("templates/post-list.html")$

<div class="find-archive">
  <h3 style="text-align: center;">Find more posts in the <a href="/archive">archive</a></h3>
</div>
