<h2 class="post-list-header">All of My Posts</h2>

<div class="archive-post-list">
  <ul>
    $for(posts)$
    <li>
      <h4><a href="$url$">$title$</a> - $date$ </h4>
    </li>
    $endfor$
  </ul>
</div>
