<div class="contact">
  <div class="contact-form">
    <div id="webform-25337">Fill out my <a href="https://matthewtift.webform.com/form/25337">webform</a>.</div>
    <script type="text/javascript">(function(d, s, id) {
    var js, wjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = '//webform.com/external/embed.js';
    js.onload = js.onreadystatechange = function() {
      var rs = this.readyState; if (rs && rs !== 'complete' && rs !== 'loaded') return;
      try { webformEmbed('https://matthewtift.webform.com/form/25337?embed=1', 'webform-25337'); } catch (e) {}
    };
    wjs.parentNode.insertBefore(js, wjs);
    }(document, 'script', 'webform-embed'));</script>
  </div>
</div>
