<div class="post">

  <div class="info">
    Posted on $date$
    $if(author)$
      by $author$
    $endif$
  </div>

  <div class="tags">
    $if(tags)$
      Tags: $tags$
    $endif$
  </div>

  <p align="right">
    <script>
      // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-3.0
      // Copyright (C) 2016 Nandakumar Edamana and John C. Vernaleo

      dark_theme = false;
      function toggle_dark_theme() {
          dark_theme = !dark_theme;

          links = document.getElementsByTagName('a');

          if(dark_theme) {
              document.body.className = "dark";
              for(i = 0; i < links.length; i ++) {
                links[i].className = "dark";
              }
          } else {
              document.body.className = "light";
              for(i = 0; i < links.length; i ++) {
                  links[i].className = "light";
              }
          }
      }
    // @license-end
    </script>
    <a href="#" onclick="toggle_dark_theme()">Toggle Dark Theme</a>
  </p>

  <hr />

  $if(image)$
  <div class="main-image">
    <img alt="$image-alt$" src="/images/$image$" />
  </div>
  $endif$

  $body$
  
  $partial("templates/prev-next.html")$

</div>

