<div id="post-list">

  <div id="posts-popular">
    <h3>Popular Posts</h3>
    <ul>
      <li><a href="/cultural-construction-drupal">The Cultural Construction of Drupal</a></li>
      <li><a href="/who-sponsors-drupal-development">Who Sponsors Drupal Development?</a></li>
      <li><a href="/better-then-bigger-cultivating-drupal-community">Better, then Bigger: Cultivating the Drupal Community</a></li>
      <li><a href="/install-tidal-debian-stretch">Install Tidal on Debian Stretch</a></li>
    </ul>
  </div>

  <div id="post-items">
    <ul>
      $for(posts)$
      <li>
        <h2><a href="$url$">$title$</a></h2>
        <div class='date'>
          $date$
        </div>
        $if(teaser)$
        <div class='teaser'>
          $teaser$
        </div>
        $endif$
        <div class='read-more'>
          <a href='$url$'>Read more >></a>
        </div>
      </li>
      <div><hr /></div>
      $endfor$
    </ul>
  </div>
</div>
