<div class="prev-next">
  $if(prevPost)$
  <a href="$prevPost$" rel="previous">&#x2190; Previous Post</a>
  $endif$
  $if(nextPost)$
  <a href="$nextPost$" rel="next" style="float:right">Next Post &#x2192;</a>
  $endif$
</div>
