/*********************************************
 * My Changes
 *********************************************/

.reveal h1.title,
.reveal h3.date {
  color: #0379C4;
}

.reveal h2.author {
  font-size: 120%;
}

.reveal li {
  font-size: 180%;
}

.reveal p {
  font-size: 180%;
}

.reveal code {
  font-size: 80%;
}
